/* chronicle-display fonts */

@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/chronicle-display/Chronicle Display Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/chronicle-display/Chronicle Display Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/chronicle-display/Chronicle Display Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/chronicle-display/Chronicle Display Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  /* gilroy fonts */

  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }